<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mtomczak.nausicaa"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name"
		 android:icon="@drawable/ic_launcher"
		 android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
	    <intent-filter>
	      <action android:name="android.intent.action.MAIN"/>
	      <category android:name="android.intent.category.LAUNCHER"/>
	    </intent-filter>
	    <meta-data android:name="com.google.android.glass.VoiceTrigger"
		       android:resource="@xml/nausicaa_trigger" />
        </activity>
	<activity android:name="DataSourceActivity"
		  android:label="@string/data_source_activity">
	  <meta-data
	      android:name="android.support.PARENT_ACTIVITY"
	      android:value="com.mtomczak.nausicaa.MainActivity" />
	</activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT"/>
</manifest>
